<h1> Dice Roll </h1>

<ul> 

<a href="/dice/2/6"> Roll two 6-sided dice </a>
<a href="/dice/2/6"> Roll two 10-sided dice </a>
<a href="/dice/2/6"> Roll one 6=20-sided dice </a>
<a href="/dice/2/6"> Roll five 4-sided dice </a>

</ul>
